.leftbar{
  flex:2;
  height: calc(100vh - 70px);
  position: sticky;
  top: 0px;
  .container{
    padding: 20px;
    .menu{
      display: flex;
      flex-direction: column;
      gap: 10px;
      .user{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        span{
          font-size: 14px;
        }
      }
      .item{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
          width: 25px;
          height: 25px;
        }
        span{
          font-size: 12px;
        }
      }
    }
    hr{
      margin: 20px 0px;
      border: none;
      height: 0.5px;
      background-color: lightgrey;
    }
  }
}