.main{
    background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  button{
    
    padding: 2vh;
    background:rgb(0, 0, 59);
    width: auto;
    height: auto;
    border-radius: 10px;
    color: white;
  }
  button.postbutton{
    margin: 4vw;
    margin-bottom: 2vh;
    padding: 2vh;
    background:rgb(0, 0, 59);
    width: 25vh;
    height: 10vh;
    border-radius: 10px;
}
    .c{
        
        margin: 4vw;

    }
}