.rightbar {
  flex: 4;
  background-color: rgb(242, 242, 252);
  
  
  position: sticky;
  top: 70px;
  height: calc(100vh - 60px);
  overflow: scroll;

  .container {
    padding: 20px;
    
    .item {
      border: none;
      border-radius: 5px;
      background-color: white;
      margin-bottom: 20px;
      padding: 10px 15px;
      box-shadow: 10px 10px 9px 0px rgba(233, 230, 245, 0.75);
      -webkit-box-shadow: 10px 10px 9px 0px rgba(233, 230, 245, 0.75);
      -moz-box-shadow: 10px 10px 9px 0px rgba(233, 230, 245, 0.75);
      span {
        color: grey;
        font-size: 14px;
      }
      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0px;
        gap: 20px;

        .userInfo {
          display: flex;
          align-items: center;
          gap: 6px;
          position: relative;
          span {
            color: black;
            font-size: 13px;
          }
          p{
            color: grey;
            font-size: 12px;
          }
          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
          }
          .online{
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: limegreen;
            position: absolute;
            top: 0;
            left:23px;
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          gap: 10px;

          button {
            border: none;
            width: 6vw;
            height: 4.2vh;
            border-radius: 5px;
            padding: 0.5px;
            color: white;
            cursor: pointer;
            font-size: 13px;

            &:first-child {
              background: rgb(16, 3, 246);
            }
            &:last-child {
              background: black;
            }
          }
        }
      }
    }
  }
}
